* {
	padding: 0;
	margin:0;
	outline: none;
}

body {
	background-color: black;
}

iframe {
	margin: 0 auto;
}

.button {
	text-decoration: none;
	transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
	background-color: none;
	color: lime;
	font-size: 18px;
	padding: 14px 40px;
	text-align: center;
	border: none;
	cursor: none;
	bottom: 10%;
	position: fixed;
	margin-left: 120px;
	font-family: 'Courier'
}

.button:hover {
	color: red;
}