* {
	padding: 0;
	margin:0;
	outline: none;
}

body{
	background-color: black;
}

.bigbox {
	margin: 30px 0 0 30px;
}


p {
	color: lime;
	font-family: "Courier";
	font-size: 20px;
	line-height: 1.6;
	margin: 20px 0 0 20px;
	white-space: normal;
	overflow: hidden;
	width: 80%;
	animation: type 1.5s steps(100, end);
}

p:nth-child(2) {
	animation: type2 2s steps(100, end);
}

span {
	animation: blink 1s infinite;
	border-right: .15em lime;
}

@keyframes type {
	from { width: 0; }
}

@keyframes type2 {
	0% { width: 0; }
	50% { width: 0; }
	100% { width: 100; }
}

@keyframes blink {
	to { opacity: .0; }
}

.button {
	text-decoration: none;
	transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
	background-color: none;
	color: lime;
	font-size: 18px;
	padding: 14px 40px;
	text-align: center;
	border: none;
	cursor: none;
	bottom: 15%;
	position: fixed;
	margin-left: 120px;
	font-family: 'Courier'
}

.button:hover {
	color: red;








